/* Put your CSS here */
.ember-application {
    margin: 20px;
}

#moss {
  background-image: url("../images/sun.jpg");
  background-size: cover;
}

.about-header {
  font-size: 5em;
  text-align: center;
}

.about-text {
  text-align: center;
  font-size: 1.5em;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 20px 10px 40px 10px;
}

#face {
  height: 110px;
  width: 110px;
  border-radius: 18px;
  margin-top: 100px;
}
